<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
  <scripttype
  ="module"src="https://md-block.verou.me/md-block.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <script>
    Dropzone.autoDiscover = false;
    console.log("Dropzone autoDiscover disabled");
  </script>
</head>


{% extends layout_path %}

{% load static %}
{% load i18n %}

{% comment %} TODO: Change {% endcomment %}
{% block title %}Klausur erstellen{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}"/>
  <link rel="stylesheet" href="{% static 'vendor/libs/nouislider/nouislider.css' %}"/>
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/nouislider/nouislider.js' %}"></script>
  <script src="{% static 'vendor/libs/dropzone/dropzone.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/cards-actions.js' %}"></script>
{% endblock page_js %}

{% block content %}


  <div class="row">
    <!-- Basic  -->
    <div class="alert alert-danger align-items-center" id="errorTextPopup" role="alert" style="display: none;">
      <i class="mdi mdi-alert-circle-check-outline me-2"></i>
    </div>
    {% comment %} TODO: Change {% endcomment %}
    <div class="col-12">
      <div class="card mb-4" style="width: auto;">
        <h5 class="card-header">Klausur erstellen</h5>
        <div class="card-body">
          <form action="/upload" class="dropzone" id="dropzone-multi">
            <div class="dz-message needsclick">
              Ziehe dein PDF Skript hierhin oder klicke um es hochzuladen.
              <span class="note needsclick">(Exam - Creator. Ausgewählte Dateien <span class="fw-medium">nicht</span> hochgeladen.)</span>
            </div>
            {% csrf_token %}
          </form>
          {% comment %} TODO: wieso keine row? {% endcomment %}
          <div class="row">
            <div class="col-auto">
              <button id="uploadButton" type="button" class="btn btn-outline-primary me-2">
                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Upload starten
              </button>
            </div>
            <div class="col-auto">
              <div class="learningSuggestionsButtonDiv my-2" id="learningSuggestionButton" style="display: none;">
                <button id="learningSuggestionButtonb" type="button" class="btn btn-outline-success me-2">
                  <span class="tf-icons mdi mdi-lightbulb-outline me-1"></span> Lernvorschläge anfragen
                </button>
              </div>
            </div>

            <div class="retryUploadCard my-2" id="retryUploadCard" style="display: none;">
              <button id="retryUploadButton" type="button" class="btn btn-outline-primary me-2">
                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
              </button>
              <div class="form-floating form-floating-outline" style="width: 40%; margin-top:20px;">
                <input type="text" class="form-control" id="retryUploadtext"
                       placeholder="Versuche es erneut mit mehr..." aria-describedby="retryUploadTextHelp"/>
                {% comment %} TODO: Change {% endcomment %}
                <label for="retryUploadtext">Erneut eine Klausur generieren</label>
                <div id="retryUploadTextHelp" class="form-text">Hier können Sie Verbesserungsvorschläge angeben.</div>
              </div>
            </div>
          </div>
          <div class="card-header" style="padding-bottom:0px;">
            <div class="card-action-title">
              <h3>Anfrage anpassen
                <a href="javascript:void(0);" class="card-collapsible">
                  <i class="tf-icons mdi mdi-chevron-up"></i>
                </a>
              </h3>
            </div>
            <div class="card-action-element">
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                </li>
              </ul>
            </div>
          </div>
          <div class="collapse show">
            <div class="card-body">
              {% comment %} TODO: Change {% endcomment %}
              <h4 class="card-title">Schwierigkeitsgrad</h4>
              <div class="mb-5" id="complexitySlider" style="width: 40%;"></div>
              <h4 class="card-title mt-3">Anzahl der Aufgaben</h4>
              <div class="mb-5" id="numExcersises" style="width: 40%;"></div>
              <div class="form-floating form-floating-outline" style="width: 40%; margin-top:50px;">
                <input type="text" class="form-control" id="floatingInput" rows="4" placeholder="Netzwerktopologien"
                       aria-describedby="floatingInputHelp"/>
                <label for="floatingInput">Themenschwerpunkt</label>
                <div id="floatingInputHelp" class="form-text h-px-75 w-px-400">Hier können Sie einen Themenschwerpunkt
                  angeben.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-title">
      <div id="paginationContainer" class="mb-3"></div>
      <h5 class="card-header" id="uploadResponse"></h5>
      {% comment %} TODO: Change (no answer button and no question text) {% endcomment %}
      <div class="card-body" id="exam">
        <div class="card-text" id="examQuestions"></div>
        <div class="answerButtonDiv" id="answerButtonDiv" style="display: none;">
          <button type="button" class="btn btn-primary mt-3 mb-3" id="answerButton" onclick="showAnswer(this)">Zeige die
            Antwort
          </button>
          <div class="card-text" id="examAnswers"></div>
        </div>
      </div>
    </div>
  </div>
  <script>
    /**
     * Diese Funktion zeigt eine Fehlermeldung im HTML-Element mit der ID 'errorTextPopup'.
     * @param errorMessage {String} - Der Fehlermeldungstext, der angezeigt werden soll.
     */
    function showError(errorMessage) {
      // Zugriff auf das Element, das die Fehlermeldung anzeigen soll.
      var errorPopup = document.getElementById('errorTextPopup');

      // Setze den Text des Elements auf die übergebene Fehlermeldung.
      errorPopup.innerHTML = errorMessage;

      // Stelle sicher, dass das Element sichtbar ist.
      errorPopup.style.display = 'block';
    }

    /**
     * Diese Funktion versteckt das HTML-Element mit der ID 'errorTextPopup'.
     */
    function hideErrorText() {
      // Zugriff auf das Element, das die Fehlermeldung anzeigt.
      var errorPopup = document.getElementById('errorTextPopup');

      // Setze die Anzeige des Elements auf 'none', um es auszublenden.
      errorPopup.style.display = 'none';
    }

    // Definition der Funktion, die beim Klick auf den Lernvorschlag-Button ausgeführt wird
    document.getElementById('learningSuggestionButton').addEventListener("click", function () {
      if (thread_id) {
        document.getElementById('learningSuggestionButtonb').innerHTML = `
            <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                        Tipps werden erstellt...
                    `;
        fetch('/learningSuggestionsEndpoint', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
          },
          body: JSON.stringify({thread_id: thread_id})
        }).then(response => {
          return response.json();
        }).then(data => {
          document.getElementById('learningSuggestionButtonb').innerHTML = `
                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Lernvorschläge angefragt`;
          updateExamText(data);
          console.log('Lernvorschläge erfolgreich gesendet:', data);
        }).catch(error => {
          console.error('Fehler bei der Anfrage:', error);
        });
      } else {
        console.log("Keine thread_id verfügbar.");
        showError("Keine thread_id verfügbar.");
      }
    });

    document.getElementById('retryUploadCard').style.display = "none";

    function showAnswer(button) {
      // Die Antwort-Elemente finden
      const answerElement = button.parentNode.querySelector("#examAnswers");

      // Die Sichtbarkeit der Antwort umschalten
      if (answerElement.style.display === "none") {
        answerElement.style.display = "block";
        button.textContent = "Antwort verbergen";
        // Fordere MathJax auf, den neuen Inhalt zu durchsuchen und zu rendern
        MathJax.typesetPromise().then(() => {
          console.log('MathJax hat den neuen Inhalt verarbeitet.');
        }).catch((err) => {
          console.error('Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: ', err);
          showError("Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: " + err);
        });
      } else {
        answerElement.style.display = "none";
        button.textContent = "Zeige Antwort";
      }
    }

    // Definieren Sie csrfToken hier, um es im gesamten Skript zugänglich zu machen
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // on load
    document.addEventListener('DOMContentLoaded', function () {
      noUiSlider.create(document.getElementById("complexitySlider"), {
        start: [5],
        behaviour: "tap-drag",
        step: 1,
        range: {
          min: 0,
          max: 10
        },
        pips: {
          mode: 'steps',
          density: 10,
        }
      });
      noUiSlider.create(document.getElementById("numExcersises"), {
        start: [3],
        behaviour: "tap-drag",
        step: 1,
        range: {
          min: 0,
          max: 10
        },
        pips: {
          mode: 'steps',
          density: 10
        }
      });
    });

    'use strict';

    // previewTemplate: Updated Dropzone default previewTemplate
    // ! Don't change it unless you really know what you are doing
    const previewTemplate = `<div class="dz-preview dz-file-preview">
        <div class="dz-details">
        <div class="dz-thumbnail">
            <img data-dz-thumbnail>
            <span class="dz-nopreview">No preview</span>
            <div class="dz-success-mark"></div>
            <div class="dz-error-mark"></div>
            <div class="dz-error-message"><span data-dz-errormessage></span></div>
            <div class="progress">
            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
            </div>
        </div>
        <div class="dz-filename" data-dz-name></div>
        <div class="dz-size" data-dz-size></div>
        </div>
        </div>`;

    // remember the current thread_id
    let thread_id = "";

    if (Dropzone.instances.length > 0) {
      Dropzone.instances.forEach(dz => dz.destroy()); // Entfernen Sie alle Instanzen
    }
    const dropzoneMulti = document.querySelector('#dropzone-multi');
    if (dropzoneMulti) {
      console.log("Dropzone Multi: ");
      const myDropzoneMulti = new Dropzone(dropzoneMulti, {
        // Ihre Konfiguration
        previewTemplate: previewTemplate,
        parallelUploads: 10,
        uploadMultiple: true,
        maxFilesize: 25,
        addRemoveLinks: true, // Möglicherweise möchten Sie das auf true setzen, um Links zum Entfernen hinzuzufügen
        autoProcessQueue: false, // Verhindert automatischen Upload bei Dateiauswahl
        init: function () {

          this.on("addedfile", function (file) {
            console.log("Eine Datei wurde hinzugefügt.");
          });

          const myDropzone = this; // Referenz auf die aktuelle Dropzone-Instanz

          // Button zum Starten des Uploads
          document.getElementById("uploadButton").addEventListener("click", function (e) {

            if (myDropzone.files.length === 0) {
              showError("Bitte laden Sie eine Datei hoch, bevor Sie fortfahren.");
              return;
            }

            e.preventDefault();
            e.stopPropagation();
            myDropzone.processQueue(); // Beginnt mit dem Upload
            console.log("Upload Button clicked");
            // Bereich für uploadBuuton so aktualisieren:
            this.innerHTML = `
                        <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                        Klausur wird erstellt...
                    `;
            this.disabled = true; // Deaktivieren Sie den Button während des Hochladens
          });


          this.on("sendingmultiple", function (file, xhr, formData) {
            console.log("Datiene: ", this.files, "Datei: ", this.file)
            // CSRF-Token hinzufügen, erforderlich von Django
            console.log("sendingmultiple", file);
            formData.append("csrfmiddlewaretoken", csrfToken);
          });
          this.on("sending", function (file, xhr, formData) {
            // CSRF-Token hinzufügen, erforderlich von Django
            formData.append("csrfmiddlewaretoken", csrfToken);
          });
          this.on("successmultiple", function (files, response) {
            console.log("successmultiple", response);
            var responseData = typeof response === "string" ? JSON.parse(response) : response;
            var filename = responseData.data; // Angenommen, der Dateiname kommt in der Antwort

            // Bereich für die Anzeige des Dateinamens aktualisieren
            document.getElementById('uploadResponse').textContent = "Dateien erfolgreich hochgeladen: " + filename;


            // Hier fügen wir die zusätzlichen Daten hinzu
            // TODO: Change (maybe different IDs)
            const complexitySlider = document.getElementById("complexitySlider").noUiSlider.get();
            const numExercisesSlider = document.getElementById("numExcersises").noUiSlider.get();
            const topicInput = document.getElementById("floatingInput").value;

            // Senden eines weiteren Requests an das Backend mit dem Dateinamen
            // TODO: Change (different endpoint)
            fetch('/endpoint', { // Pfad zum Backend-Endpunkt anpassen
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken, // Verwenden Sie csrfToken aus dem globalen Scope
              },
              body: JSON.stringify({
                filename: filename,
                complexity: complexitySlider,
                numExercises: numExercisesSlider,
                topic: topicInput
              }),
            })
              .then(response => {
                if (!response.ok) {
                  throw new Error('Netzwerkantwort war nicht ok.');
                  // document.getElementById('uploadResponse').textContent = "Fehler beim Generieren der Klausur: ", response;
                  showError("Fehler beim Generieren der Klausur: ", response);
                  document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
                  // TODO: Change (right?)
                  console.log(data.thread_id[0][1])
                  thread_id = data.thread_id[0][1];

                }
                return response.json();
                document.getElementById('retryUploadCard').style.display = "block";
              })
              .then(data => {
                console.log(data);
                if (data.errorMessage != null) {
                  console.log("ErrorMessage: ", data.errorMessage);
                  errormessage = data.errorMessage;
                  showError(errormessage);
                  // Verbesserungsvorschlag anzeigen
                  document.getElementById('retryUploadCard').style.display = "block";
                  document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
                } else {
                  updateExamText(data);
                }
              })
              .catch((error) => {
                // TODO: Change Fehlermeldungen
                console.error('Fehler:', error);
                showError("Fehler beim Generieren der Klausur: ", error);
                document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
                document.getElementById('uploadResponse').textContent = "Fehler beim Hochladen der Datei: " + error;
                document.getElementById('retryUploadCard').style.display = "block";
              });
          });
          this.on("error", function (file, response) {
            console.log("error", response);
            // Fehlerbehandlung
            var message = typeof response === "string" ? response : (response.error || "Fehler beim Hochladen der Datei!");
            alert(message);
            showError("Fehler beim Hochladen der Datei: " + message);
            document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
            document.getElementById('uploadResponse').textContent = "Fehler beim Hochladen der Datei: " + message;
            document.getElementById('retryUploadCard').style.display = "block";
            console.log(data.thread_id[0][1])
            thread_id = data.thread_id[0][1];
          });
        }
      });
    }

    //---- retryUploadButton ----

    // Definieren Sie csrfToken hier, um es im gesamten Skript zugänglich zu machen
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    document.getElementById('retryUploadButton').addEventListener("click", function () {
      var retryText = document.getElementById('retryUploadtext').value;
      // TODO: Change (maybe andere IDs)
      const complexitySlider = document.getElementById("complexitySlider").noUiSlider.get();
      const numExercisesSlider = document.getElementById("numExcersises").noUiSlider.get();
      const topicInput = document.getElementById("floatingInput").value;

      this.innerHTML = `
                    <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                     Klausur wird erstellt...
                `;

      // Zusammensetzen der Daten für die erneute Anfrage
      // TODO: Change (anderer Endpoint)
      fetch('/retryExam', { // Update endpoint as needed
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({
          retryText: retryText,
          thread_id: thread_id,
          old_response: exams[exams.length - 1],
          complexity: complexitySlider,
          numExercises: numExercisesSlider,
          topic: topicInput
        }),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Netzwerkantwort war nicht ok.');
          }
          this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
          return response.json();
        })
        .then(data => {
          console.log('Erneute Erstellung erfolgreich:', data);

          console.log("ErrorMessage: ", data.errorMessage);
          errormessage = data.errorMessage;
          if (errormessage != null) {
            showError(errormessage);
            document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
          } else {
            updateExamText(data);
          }
          this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
        })
        .catch((error) => {
          console.error('Fehler bei der erneuten Anfrage:', error);
          this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
        });
    });

    var exams = []; // This will store arrays of exam data fetched from the server

    // TODO: Change (name and functionality)
    function updateExamText(data) {
      console.log('Erfolg:', data);
      var exam_data = data;
      console.log("Examdata: ", data);
      document.getElementById('retryUploadCard').style.display = "block";
      document.getElementById('uploadResponse').style.display = "none";

      // Anzeige des Upload-Buttons aktualisieren
      document.getElementById("uploadButton").innerHTML = `<span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Klausur erstellt`;
      document.getElementById("answerButtonDiv").style.display = 'block';

      // Prüfen, ob Übungen und Antworten vorhanden sind
      // TODO: Change (nur eins teilweise)
      if (data && data.data && data.data[0].exercise && data.data[0].answer) {
        console.log("Exercise and Answer is not None");
        console.log("Examdata exercise: ", data.data[0].exercise);
        console.log("Examdata answer: ", data.data[0].answer);
        let exerciseString = data.data[0].exercise;
        let answerString = data.data[0].answer;

        exerciseString = stringFormating(exerciseString);
        answerString = stringFormating(answerString);

        console.log("ExerciseString: ", exerciseString);
        console.log("AnswerString: ", answerString);

        document.getElementById('examQuestions').innerHTML = marked.parse(exerciseString);
        document.getElementById("answerButtonDiv").style.display = 'block';
        document.getElementById('examAnswers').innerHTML = marked.parse(answerString);
        document.getElementById('examAnswers').style.display = 'none';

        exams.push(data); // Assuming data contains all necessary exam info
        createPagination();
        changePage(exams.length);
        hideErrorText();
      } else if (data && data.data[1][1]) {
        console.log("LearnSuggestions is not None");
        console.log("Data: ", data);
        let learnSuggestions = data.data[1][1];
        learnSuggestions = stringFormating(learnSuggestions);
        document.getElementById('examQuestions').innerHTML = marked.parse(learnSuggestions);
        document.getElementById("answerButtonDiv").style.display = 'none';
        exams.push(data);
        createPagination();
        changePage(exams.length);
        hideErrorText();
      } else {
        showError("Fehler beim Generieren der Klausur");
      }
      // Fordere MathJax auf, den neuen Inhalt zu durchsuchen und zu rendern
      MathJax.typesetPromise().then(() => {
        console.log('MathJax hat den neuen Inhalt verarbeitet.');
      }).catch((err) => {
        console.error('Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: ', err);
        showError("Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: " + err);
      });
    }

    function stringFormating(text) {
      let newText = text;
      newText = newText.replace(/\\\\/g, '\\');
      newText = newText.replace(/\\u00e4/g, 'ä');
      newText = newText.replace(/\\u00f6/g, 'ö');
      newText = newText.replace(/\\u00fc/g, 'ü');
      newText = newText.replace(/\\u00df/g, 'ß');
      newText = newText.replace(/\\u00c4/g, 'Ä');
      newText = newText.replace(/\\u00d6/g, 'Ö');
      newText = newText.replace(/\\u00dc/g, 'Ü');
      // (\ddot{o}) -> ö
      newText = newText.replace(/\\ddot\{o\}/g, 'ö');
      // (\ddot{u}) -> ü
      newText = newText.replace(/\\ddot\{u\}/g, 'ü');
      // (\ddot{a}) -> ä
      newText = newText.replace(/\\ddot\{a\}/g, 'ä');

      // //n -> /n
      newText = newText.replace(/\\n/g, '\n');
      newText = newText.replace(/\\n1/g, '\n1');
      newText = newText.replace(/\\n2/g, '\n2');
      newText = newText.replace(/\\n3/g, '\n3');
      // \u201e
      newText = newText.replace(/\\u201e/g, '„');
      newText = newText.replace(/\\u201c/g, '“');
      newText = newText.replace(/\\u201d/g, '”');
      newText = newText.replace(/\\u2018/g, '‘');
      newText = newText.replace(/\\u2019/g, '’');
      newText = newText.replace(/\\u00b0/g, '°');
      newText = newText.replace(/\\u00b5/g, 'µ');
      newText = newText.replace(/\\u00b2/g, '²');
      // \$ -> $$
      newText = newText.replace(/\\\$/g, '$$');
      return newText;
    }

    // TODO: Change (anderer Aufbau)
    function createPagination(currentPage, totalPages) {
      // Überprüfen, ob die Pagination überhaupt notwendig ist
      if (totalPages <= 1) {
        return;
      }

      var paginationHtml = '<nav aria-label="Page navigation example" style="padding-top: 20px; padding-left: 20px;"><ul class="pagination">';

      // Button für die erste Seite und vorherige Seite, nur wenn mehr als eine Seite vorhanden ist
      paginationHtml += `<li class="page-item ${currentPage === 0 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(0)"><i class="mdi mdi-chevron-double-left"></i></a></li>`;
      paginationHtml += `<li class="page-item ${currentPage === 0 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${currentPage - 1})"><i class="mdi mdi-chevron-left"></i></a></li>`;

      // Dynamische Erstellung der Seitennummern
      for (let i = 0; i < totalPages; i++) {
        paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}"><a class="page-link" href="#" onclick="changePage(${i})">${i + 1}</a></li>`;
      }

      // Button für die nächste Seite und letzte Seite
      paginationHtml += `<li class="page-item ${currentPage === totalPages - 1 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${currentPage + 1})"><i class="mdi mdi-chevron-right"></i></a></li>`;
      paginationHtml += `<li class="page-item ${currentPage === totalPages - 1 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${totalPages - 1})"><i class="mdi mdi-chevron-double-right"></i></a></li>`;

      paginationHtml += '</ul></nav>';
      document.getElementById('paginationContainer').innerHTML = paginationHtml;
    }

    // Function to handle page change when a pagination link is clicked
    // TODO: Change anderer Aufbau
    function changePage(pageIndex) {
      const data = exams[pageIndex];
      if (data && data.data && data.data.exercise && data.data.answer) {
        console.log("Change to page: ", pageIndex);
        document.getElementById("answerButtonDiv").style.display = 'block';
        document.getElementById("examQuestions").innerHTML = marked.parse(data.data.exercise);
        document.getElementById("examAnswers").innerHTML = marked.parse(data.data.answer);
        document.getElementById("examAnswers").style.display = 'none'; // Hide answers by default
      } else if (data && data.data[1][1]) {
        console.log("Change to learnSuggestions: ", pageIndex);
        console.log("Data: ", data);
        document.getElementById("examQuestions").innerHTML = marked.parse(data.data[1][1]);
        document.getElementById("answerButtonDiv").style.display = 'none';
      }
      // Update active class on pagination
      document.querySelectorAll('.pagination .page-item').forEach((item, index) => {
        if (index === pageIndex) {
          item.classList.add('active');
        } else {
          item.classList.remove('active');
        }
      });
      totalPages = exams.length;
      createPagination(pageIndex, totalPages);
      // Fordere MathJax auf, den neuen Inhalt zu durchsuchen und zu rendern
      MathJax.typesetPromise().then(() => {
        console.log('MathJax hat den neuen Inhalt verarbeitet.');
      }).catch((err) => {
        console.error('Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: ', err);
        showError("Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: " + err);
      });
    }

  </script>





{% endblock %}
