<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js"></script>
    <scripttype="module" src="https://md-block.verou.me/md-block.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        console.log("Dropzone autoDiscover disabled");
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/umd/bootstrap.bundle.min.js"></script>
</head>


{% extends layout_path %}

{% load static %}
{% load i18n %}

{% comment %} TODO: Change {% endcomment %}
{% block title %}Karteikarten erstellen{% endblock %}

{% block vendor_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'vendor/libs/dropzone/dropzone.css' %}" />
<link rel="stylesheet" href="{% static 'vendor/libs/nouislider/nouislider.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
{{ block.super }}
<script src="{% static 'vendor/libs/nouislider/nouislider.js' %}"></script>
<script src="{% static 'vendor/libs/dropzone/dropzone.js' %}"></script>
{% endblock vendor_js %}

{% block page_js %}
{{ block.super }}
<script src="{% static 'js/cards-actions.js' %}"></script>
{% endblock page_js %}

{% block content %}


<div class="row">
    <!-- Basic  -->
    <div class="alert alert-danger align-items-center" id="errorTextPopup" role="alert" style="display: none;">
        <i class="mdi mdi-alert-circle-check-outline me-2"></i>
      </div>
      {% comment %} TODO: Change {% endcomment %}
    <div class="col-12">
        <div class="card mb-4" style="width: auto;">
            <h5 class="card-header">Karteikarten erstellen</h5>
            <div class="card-body">
                <form action="/upload" class="dropzone" id="dropzone-multi">
                    <div class="dz-message needsclick">
                        Ziehe dein PDF Skript hierhin oder klicke um es hochzuladen.
                        <span class="note needsclick">(Anki - Creator. Ausgewählte Dateien <span class="fw-medium">nicht</span> hochgeladen.)</span>
                    </div>
                    {% csrf_token %}
                </form>
                {% comment %} TODO: wieso keine row? {% endcomment %}
                <div class="row">
                    <div class="col-auto">
                        <button id="uploadButton" type="button" class="btn btn-outline-primary me-2">
                            <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Upload starten
                        </button>
                    </div>
                    <div class="col-auto">
                        <div class="learningSuggestionsButtonDiv my-2" id="learningSuggestionButton" style="display: none;">
                            <button id="learningSuggestionButtonb" type="button" class="btn btn-outline-success me-2">
                                <span class="tf-icons mdi mdi-lightbulb-outline me-1"></span> Lernvorschläge anfragen
                            </button>
                        </div>
                    </div>

                    <div class="retryUploadCard my-2" id="retryUploadCard" style="display: none;">
                        <button id="retryUploadButton" type="button" class="btn btn-outline-primary me-2">
                            <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                        </button>
                        <div class="form-floating form-floating-outline" style="width: 40%; margin-top:20px;">
                            <input type="text" class="form-control" id="retryUploadtext" placeholder="Versuche es erneut mit mehr..." aria-describedby="retryUploadTextHelp" />
                            {% comment %} TODO: Change {% endcomment %}
                            <label for="retryUploadtext">Erneut Karteikarten generieren</label>
                            <div id="retryUploadTextHelp" class="form-text">Hier können Sie Verbesserungsvorschläge angeben.</div>
                        </div>
                    </div>
                </div>
                <div class="card-header" style="padding-bottom:0px;">
                    <div class="card-action-title">
                        <h3>Anfrage anpassen
                            <a href="javascript:void(0);" class="card-collapsible">
                                <i class="tf-icons mdi mdi-chevron-up"></i>
                            </a>
                        </h3>
                    </div>
                    <div class="card-action-element">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item">
                            </li>
                        </ul>
                    </div>
                </div>
                  <div class="collapse show">
                    <div class="card-body">
                        {% comment %} TODO: Change {% endcomment %}
                        <h4 class="card-title">Komplexität</h4>
                        <div class="mb-5" id="complexitySlider" style="width: 40%;"></div>
                        <h4 class="card-title mt-3">Anzahl</h4>
                        <div class="mb-5" id="numSlides" style="width: 40%;"></div>
                        <div class="form-floating form-floating-outline" style="width: 40%; margin-top:50px;">
                            <input type="text" class="form-control" id="floatingInput" rows="4" placeholder="Netzwerktopologien" aria-describedby="floatingInputHelp" />
                            <label for="floatingInput">Themenschwerpunkt</label>
                            <div id="floatingInputHelp" class="form-text h-px-75 w-px-400">Hier können Sie einen Themenschwerpunkt angeben.</div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-title">
        <div id="paginationContainer" class="mb-3"></div>
        <h5 class="card-header" id="uploadResponse"></h5>
        {% comment %} TODO: Change (no answer button and no question text) {% endcomment %}
        <div class="card-body" id="slide">
            <div id="carouselExample" class="carousel slide col-md-8 offset-md-2" data-bs-interval="false">
                <div class="carousel-indicators mt-1">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" style="filter: invert(1);"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card d-flex justify-content-center align-items-center text-center">
                            <div class="card-body">
                                <h3>Erste Karteikarte</h3>
                                <div id="uploadResponse" class="card-text"></div>
                                  <p>Hier werden deine Karteikarten erstellt.</p>
                                  <button type="button" class="btn btn-primary mt-3 mb-3 disabled" onclick="showAnswer(this)">Zeige Antwort</button>
                                <div class="answer mt-3" style="display: none;">
                                  <p>Beispielantwort für die erste Frage.</p>
                                </div>
                              </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExample" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(1);"></span>
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExample" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(1);"></span>
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
/**
    * Diese Funktion zeigt eine Fehlermeldung im HTML-Element mit der ID 'errorTextPopup'.
    * @param errorMessage {String} - Der Fehlermeldungstext, der angezeigt werden soll.
    */
    function showError(errorMessage) {
    // Zugriff auf das Element, das die Fehlermeldung anzeigen soll.
    var errorPopup = document.getElementById('errorTextPopup');

    // Setze den Text des Elements auf die übergebene Fehlermeldung.
    errorPopup.innerHTML = errorMessage;

    // Stelle sicher, dass das Element sichtbar ist.
    errorPopup.style.display = 'block';
}

/**
    * Diese Funktion versteckt das HTML-Element mit der ID 'errorTextPopup'.
    */
    function hideErrorText() {
    // Zugriff auf das Element, das die Fehlermeldung anzeigt.
    var errorPopup = document.getElementById('errorTextPopup');

    // Setze die Anzeige des Elements auf 'none', um es auszublenden.
    errorPopup.style.display = 'none';
}

    document.getElementById('retryUploadCard').style.display = "none";

    // Definieren Sie csrfToken hier, um es im gesamten Skript zugänglich zu machen
    var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // on load
    document.addEventListener('DOMContentLoaded', function() {
        noUiSlider.create(document.getElementById("complexitySlider"), {
            start: [5],
            behaviour: "tap-drag",
            step: 1,
            range: {
            min: 0,
            max: 10
            },
            pips: {
            mode: 'steps',
            density: 10,
            }
        });
        noUiSlider.create(document.getElementById("numSlides"), {
            start: [5],
            behaviour: "tap-drag",
            step: 1,
            range: {
            min: 0,
            max: 20
            },
            pips: {
            mode: 'steps',
            density: 20
            }
        });
    });

    'use strict';

    // previewTemplate: Updated Dropzone default previewTemplate
    // ! Don't change it unless you really know what you are doing
    const previewTemplate = `<div class="dz-preview dz-file-preview">
    <div class="dz-details">
    <div class="dz-thumbnail">
        <img data-dz-thumbnail>
        <span class="dz-nopreview">No preview</span>
        <div class="dz-success-mark"></div>
        <div class="dz-error-mark"></div>
        <div class="dz-error-message"><span data-dz-errormessage></span></div>
        <div class="progress">
        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-dz-uploadprogress></div>
        </div>
    </div>
    <div class="dz-filename" data-dz-name></div>
    <div class="dz-size" data-dz-size></div>
    </div>
    </div>`;

    // ----------------------------------------
    // Dropzone Multi File Upload and handling
    // ----------------------------------------

    // remember the current thread_id
    let thread_id = "";

    if (Dropzone.instances.length > 0) {
        Dropzone.instances.forEach(dz => dz.destroy()); // Entfernen Sie alle Instanzen
    }
    const dropzoneMulti = document.querySelector('#dropzone-multi');
    if (dropzoneMulti) {
        console.log("Dropzone Multi: ");
    const myDropzoneMulti = new Dropzone(dropzoneMulti, {
        // Ihre Konfiguration
        previewTemplate: previewTemplate,
        parallelUploads: 10,
        uploadMultiple: true,
        maxFilesize: 25,
        addRemoveLinks: true, // Möglicherweise möchten Sie das auf true setzen, um Links zum Entfernen hinzuzufügen
        autoProcessQueue: false, // Verhindert automatischen Upload bei Dateiauswahl
        init: function() {

            this.on("addedfile", function(file) {
                console.log("Eine Datei wurde hinzugefügt.");
            });

            const myDropzone = this; // Referenz auf die aktuelle Dropzone-Instanz

            // Button zum Starten des Uploads
            document.getElementById("uploadButton").addEventListener("click", function(e) {
              if (myDropzone.files.length === 0) {
                showError("Bitte laden Sie eine Datei.");
                return;
              }
                e.preventDefault();
                e.stopPropagation();
                myDropzone.processQueue(); // Beginnt mit dem Upload
                console.log("Upload Button clicked");
                // Bereich für uploadBuuton so aktualisieren:
                this.innerHTML = `
                    <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                    Karteikarten werden erstellt...
                `;
                this.disabled = true; // Deaktivieren Sie den Button während des Hochladens
            });


            this.on("sendingmultiple", function(file, xhr, formData) {
                console.log("Datiene: ", this.files, "Datei: ", this.file)
                // CSRF-Token hinzufügen, erforderlich von Django
                console.log("sendingmultiple", file);
                formData.append("csrfmiddlewaretoken", csrfToken);
            });
            this.on("sending", function(file, xhr, formData) {
                // CSRF-Token hinzufügen, erforderlich von Django
                formData.append("csrfmiddlewaretoken", csrfToken);
            });
            this.on("successmultiple", function(files, response) {
                console.log("successmultiple", response);
                var responseData = typeof response === "string" ? JSON.parse(response) : response;
                var filename = responseData.data; // Angenommen, der Dateiname kommt in der Antwort

                // Hier fügen wir die zusätzlichen Daten hinzu
                // TODO: Change (maybe different IDs)
                const complexitySlider = document.getElementById("complexitySlider").noUiSlider.get();
                const numSlidesSlider = document.getElementById("numSlides").noUiSlider.get();
                const topicInput = document.getElementById("floatingInput").value;

                // Senden eines weiteren Requests an das Backend mit dem Dateinamen
                // TODO: Change (different endpoint)
                fetch('/learnCardsEndpoint', { // Pfad zum Backend-Endpunkt anpassen
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrfToken, // Verwenden Sie csrfToken aus dem globalen Scope
                    },
                    body: JSON.stringify({ filename: filename, complexity: complexitySlider, numSlides: numSlidesSlider, topic: topicInput}),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Netzwerkantwort war nicht ok.');
                        showError("Fehler beim Generieren der Karteikarten erstellen: ", response);
                        document.getElementById("uploadButton").innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                `;
                        // TODO: Change (right?)
                        console.log(data.thread_id[0][1])
                        thread_id = data.thread_id[0][1];

                    }
                    return response.json();
                    document.getElementById('retryUploadCard').style.display = "block";
                })
                .then(data => {
                    document.getElementById('retryUploadCard').style.display = "block";
                    // Erfolgreiche Antwort vom Backend
                    // change upload Button to finished:
                    // thread_id speichern
                    if (data.thread_id && Array.isArray(data.thread_id) && data.thread_id.length > 0 && data.thread_id[0].length > 1 && data.thread_id[0][1] !== null) {
                        console.log(data.thread_id[0][1]);
                        thread_id = data.thread_id[0][1];

                        if (thread_id) {
                            // Sobald thread_id vorhanden ist, Button sichtbar machen
                            document.getElementById('learningSuggestionButton').style.display = "block";
                        }
                    }
                    else{
                        console.log("Couldnt create a thread. Please relaod the site and try again.");
                    }
                    if (data.errorMessage != null) {
                        console.log("ErrorMessage: ", data.errorMessage);
                        errormessage = data.errorMessage;
                        showError(errormessage);
                        // Verbesserungsvorschlag anzeigen
                        document.getElementById('retryUploadCard').style.display = "block";
                        document.getElementById("uploadButton").innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                `;
                    }
                    else{
                        updateSlides(data);
                    }
                    this.innerHTML = `
                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
            `;
                })
                .catch((error) => {
                    console.error('Fehler bei der erneuten Anfrage:', error);
                    this.innerHTML = `
                                <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                            `;
                });
            });
            this.on("error", function(file, response) {
                console.log("error", response);
                // Fehlerbehandlung
                var message = typeof response === "string" ? response : (response.error || "Fehler beim Hochladen der Datei!");
                alert(message);
                showError("Fehler beim Hochladen der Datei: " + message);
                document.getElementById("uploadButton").innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                `;
                document.getElementById('retryUploadCard').style.display = "block";
                console.log(data.thread_id[0][1])
                thread_id = data.thread_id[0][1];
            });
        }
    });
}

//---- retryUploadButton ----

// Definieren Sie csrfToken hier, um es im gesamten Skript zugänglich zu machen
var csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;

document.getElementById('retryUploadButton').addEventListener("click", function() {
    var retryText = document.getElementById('retryUploadtext').value;
    // TODO: Change (maybe andere IDs)
    const complexitySlider = document.getElementById("complexitySlider").noUiSlider.get();
    const numSlidesSlider = document.getElementById("numSlides").noUiSlider.get();
    const topicInput = document.getElementById("floatingInput").value;

    this.innerHTML = `
                    <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                     Karteikarten werden erstellt...
                `;

    // Zusammensetzen der Daten für die erneute Anfrage
    // TODO: Change (anderer Endpoint)
    fetch('/retryLeanCards', { // Update endpoint as needed
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify({
            retryText: retryText,
            thread_id: thread_id,
            complexity: complexitySlider,
            numSlides: numSlidesSlider,
            topic: topicInput
        }),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Netzwerkantwort war nicht ok.');
        }
        this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
        return response.json();
    })
    .then(data => {
        console.log('Erneute Erstellung erfolgreich:', data);

        console.log("ErrorMessage: ", data.errorMessage);
        errormessage = data.errorMessage;
        if (errormessage != null) {
            showError(errormessage);
            document.getElementById("uploadButton").innerHTML = `
                        <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Fehler
                    `;
        }
        else{
            updateSlides(data);
        }
        this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
    })
    .catch((error) => {
        console.error('Fehler bei der erneuten Anfrage:', error);
        this.innerHTML = `
                    <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Anfrage erneut stellen
                `;
    });
});

// ----------------------------------------
// Lernvorschläge
// ----------------------------------------

// Definition der Funktion, die beim Klick auf den Lernvorschlag-Button ausgeführt wird
document.getElementById('learningSuggestionButton').addEventListener("click", function() {
    if (thread_id) {
        document.getElementById('learningSuggestionButtonb').innerHTML = `
        <span class="spinner-border spinner-border-sm m-1" role="status" aria-hidden="true"></span>
                    Tipps werden erstellt...
                `;
        fetch('/learningSuggestionsEndpoint', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify({ thread_id: thread_id })
        }).then(response => {
            return response.json();
        }).then(data => {
            document.getElementById('learningSuggestionButtonb').innerHTML = `
            <span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span>Lernvorschläge angefragt`;
            updateSlides(data);
            console.log('Lernvorschläge erfolgreich gesendet:', data);
        }).catch(error => {
            console.error('Fehler bei der Anfrage:', error);
        });
    } else {
        console.log("Keine thread_id verfügbar.");
        showError("Keine thread_id verfügbar.");
    }
});

var summarys = []; // This will store arrays of slide data fetched from the server

// TODO: Change (name and functionality)
function updateSlides(data) {
    console.log('Erfolg:', data);
    var slide_data = data;
    console.log("slidedata: ", data);

    // Anzeige des Upload-Buttons aktualisieren
    document.getElementById("uploadButton").innerHTML = `<span class="tf-icons mdi mdi-checkbox-marked-circle-outline me-1"></span> Karteikarten erstellt`;

    // Prüfen, ob Übungen und Antworten vorhanden sind
    // TODO: Change (nur eins teilweise)
    if (data) {
        summarys.push(data); // Assuming data contains all necessary slide info
        createPagination();
        console.log("Karteikartensätze: ", summarys.length);
        changePage(summarys.length);
        displayFlashcards(slide_data);
        hideErrorText();
    } else {
        showError("Fehler beim Generieren der Karteikarten");
    }
    // Fordere MathJax auf, den neuen Inhalt zu durchsuchen und zu rendern
    MathJax.typesetPromise().then(() => {
        console.log('MathJax hat den neuen Inhalt verarbeitet.');
    }).catch((err) => {
        console.error('Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: ', err);
        showError("Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: " + err);
    });
}

function displayFlashcards(data) {
    const carousel = document.querySelector('#carouselExample');
    const carouselInner = document.querySelector('.carousel-inner');
    const carouselIndicators = document.querySelector('.carousel-indicators');
    carouselInner.innerHTML = ''; // Clear existing content
    carouselIndicators.innerHTML = ''; // Clear existing indicators

    console.log("data Dict: ", data);

    flashcards = data.data;

    console.log("Flashcards: ", flashcards);

    if (data && data.data[1][1]) {
        console.log("LearnSuggestions is not None");
        console.log("Data: ", data);
        let learnSuggestions = data.data[1][1];
        learnSuggestions = stringFormating(learnSuggestions);
        document.getElementById('uploadResponse').innerHTML = marked.parse(learnSuggestions);
        // {% comment %} document.getElementById("answerButtonDiv").style.display = 'none'; {% endcomment %}
        hideErrorText();
    // Check if flashcards is indeed an array
    } else if (Array.isArray(flashcards)) {
        flashcards.forEach((flashcard, index) => {
            // Erstellen der Carousel-Items
            const carouselItem = document.createElement('div');
            carouselItem.className = 'carousel-item';
            if (index === 0) carouselItem.classList.add('active'); // Erstes Element als aktiv markieren

            // Erstellen der Indikatoren
            const indicator = document.createElement('button');
            indicator.type = 'button';
            indicator.dataset.bsTarget = '#carouselExample';
            indicator.dataset.bsSlideTo = index;
            indicator.className = index === 0 ? 'active' : ''; // Ersten Indikator als aktiv markieren
            indicator.setAttribute('aria-current', index === 0 ? 'true' : 'false');
            indicator.setAttribute('aria-label', `Slide ${index + 1}`);
            indicator.setAttribute('style', 'filter: invert(1);');
            indicator.style.marginTop = '10px';
            carouselIndicators.appendChild(indicator);

            // Hinzufügen der Frage und Antwort zur Karte
            const card = document.createElement('div');
            card.className = 'card d-flex justify-content-center align-items-center text-center';
            const cardBody = document.createElement('div');
            cardBody.className = 'card-body';

            const questionTitle = document.createElement('h3');
            questionTitle.innerText = `Frage ${index + 1}`;

            const questionText = document.createElement('p');
            questionText.innerText = flashcard.question;

            const answerButton = document.createElement('button');
            answerButton.type = 'button';
            answerButton.className = 'btn btn-primary mt-3 mb-3';
            answerButton.innerText = 'Zeige Antwort';
            answerButton.onclick = function() {
                answerDiv.style.display = answerDiv.style.display === 'none' ? 'block' : 'none';
                this.innerText = answerDiv.style.display === 'none' ? 'Zeige Antwort' : 'Antwort verbergen';
            };

            const answerDiv = document.createElement('div');
            answerDiv.className = 'answer mt-3 mb-3';
            answerDiv.style.display = 'none';

            const answerText = document.createElement('p');
            answerText.innerText = flashcard.answer;
            answerDiv.appendChild(answerText);

            // Erstelle den Prev-Button
            const prevButton = document.createElement('a');
            prevButton.className = 'carousel-control-prev';
            prevButton.href = '#carouselExample';
            prevButton.role = 'button';
            prevButton.dataset.bsSlide = 'prev';
            prevButton.setAttribute('style', 'filter: invert(1);');
            prevButton.innerHTML = '<span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="visually-hidden">Previous</span>';

            // Erstelle den Next-Button
            const nextButton = document.createElement('a');
            nextButton.className = 'carousel-control-next';
            nextButton.href = '#carouselExample';
            nextButton.role = 'button';
            nextButton.dataset.bsSlide = 'next';
            nextButton.setAttribute('style', 'filter: invert(1);');
            nextButton.innerHTML = '<span class="carousel-control-next-icon" aria-hidden="true"></span><span class="visually-hidden">Next</span>';

            // Füge die Buttons zum Carousel hinzu

            carousel.appendChild(nextButton);
            carousel.appendChild(prevButton);

            // Elemente zusammenfügen
            cardBody.appendChild(questionTitle);
            cardBody.appendChild(questionText);
            cardBody.appendChild(answerButton);
            cardBody.appendChild(answerDiv);
            card.appendChild(cardBody);
            carouselItem.appendChild(card);
            carouselInner.appendChild(carouselItem);
        });
        setColorForAllHeadings();
    } else {
        console.error('Flashcards data is not an array.');
    }

    // Request MathJax to search the new content and render it
    MathJax.typesetPromise().then(() => {
        console.log('MathJax has processed the new content.');
    }).catch((err) => {
        console.error('There was a problem processing the content by MathJax: ', err);
    });
}

document.addEventListener('DOMContentLoaded', function () {
    var carouselElementList = [].slice.call(document.querySelectorAll('#carouselExample'));
    var carouselList = carouselElementList.map(function (carouselEl) {
        return new bootstrap.Carousel(carouselEl);
    });
});

function setColorForAllHeadings() {
    // Selektiere das carouselInner Element
    const carouselInner = document.querySelector('.carousel-inner');

    // Selektiere alle Überschriftenelemente innerhalb von carouselInner
    const headings = carouselInner.querySelectorAll('h1, h2, h3, h4, h5, h6');

    // Durchlaufe alle Überschriften und setze die Farbe auf Schwarz
    headings.forEach(heading => {
        heading.style.color = 'black';
    });
}

function stringFormating(text) {
    let newText = text;
    newText = newText.replace(/\\\\/g, '\\');
    newText = newText.replace(/\\u00e4/g, 'ä');
    newText = newText.replace(/\\u00f6/g, 'ö');
    newText = newText.replace(/\\u00fc/g, 'ü');
    newText = newText.replace(/\\u00df/g, 'ß');
    newText = newText.replace(/\\u00c4/g, 'Ä');
    newText = newText.replace(/\\u00d6/g, 'Ö');
    newText = newText.replace(/\\u00dc/g, 'Ü');
    // (\ddot{o}) -> ö
    newText = newText.replace(/\\ddot\{o\}/g, 'ö');
    // (\ddot{u}) -> ü
    newText = newText.replace(/\\ddot\{u\}/g, 'ü');
    // (\ddot{a}) -> ä
    newText = newText.replace(/\\ddot\{a\}/g, 'ä');

    // //n -> /n
    newText = newText.replace(/\\n/g, '\n');
    newText = newText.replace(/\\n1/g, '\n1');
    newText = newText.replace(/\\n2/g, '\n2');
    newText = newText.replace(/\\n3/g, '\n3');
    // \u201e
    newText = newText.replace(/\\u201e/g, '„');
    newText = newText.replace(/\\u201c/g, '“');
    newText = newText.replace(/\\u201d/g, '”');
    newText = newText.replace(/\\u2018/g, '‘');
    newText = newText.replace(/\\u2019/g, '’');
    newText = newText.replace(/\\u00b0/g, '°');
    newText = newText.replace(/\\u00b5/g, 'µ');
    newText = newText.replace(/\\u00b2/g, '²');
    // \$ -> $$
    newText = newText.replace(/\\\$/g, '$$');
    return newText;
}

// TODO: Change (anderer Aufbau)
function createPagination(currentPage, totalPages) {
    // Überprüfen, ob die Pagination überhaupt notwendig ist
    if (totalPages <= 1) {
        return;
    }

    var paginationHtml = '<nav aria-label="Page navigation example" style="padding-top: 20px; padding-left: 20px;"><ul class="pagination">';

    // Button für die erste Seite und vorherige Seite, nur wenn mehr als eine Seite vorhanden ist
    paginationHtml += `<li class="page-item ${currentPage === 0 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(0)"><i class="mdi mdi-chevron-double-left"></i></a></li>`;
    paginationHtml += `<li class="page-item ${currentPage === 0 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${currentPage - 1})"><i class="mdi mdi-chevron-left"></i></a></li>`;

    // Dynamische Erstellung der Seitennummern
    for (let i = 0; i < totalPages; i++) {
        paginationHtml += `<li class="page-item ${i === currentPage ? 'active' : ''}"><a class="page-link" href="#" onclick="changePage(${i})">${i + 1}</a></li>`;
    }

    // Button für die nächste Seite und letzte Seite
    paginationHtml += `<li class="page-item ${currentPage === totalPages - 1 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${currentPage + 1})"><i class="mdi mdi-chevron-right"></i></a></li>`;
    paginationHtml += `<li class="page-item ${currentPage === totalPages - 1 ? 'disabled' : ''}"><a class="page-link" href="#" onclick="changePage(${totalPages - 1})"><i class="mdi mdi-chevron-double-right"></i></a></li>`;

    paginationHtml += '</ul></nav>';
    document.getElementById('paginationContainer').innerHTML = paginationHtml;
}

// Function to handle page change when a pagination link is clicked
// TODO: Change anderer Aufbau
function changePage(pageIndex) {
    const data = summarys[pageIndex];
    if (data) {
        console.log("Change to page: ", pageIndex);
        displayFlashcards(data);
    }
    // Update active class on pagination
    document.querySelectorAll('.pagination .page-item').forEach((item, index) => {
        if (index === pageIndex) {
            item.classList.add('active');
        } else {
            item.classList.remove('active');
        }
    });
    totalPages = summarys.length;
    createPagination(pageIndex, totalPages);
    // Fordere MathJax auf, den neuen Inhalt zu durchsuchen und zu rendern
    MathJax.typesetPromise().then(() => {
        console.log('MathJax hat den neuen Inhalt verarbeitet.');
    }).catch((err) => {
        console.error('Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: ', err);
        showError("Es gab ein Problem bei der Verarbeitung des Inhalts durch MathJax: " + err);
    });
}

</script>





{% endblock %}
